.slidev-note {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.7rem !important;
}

[title="Go to next slide"], [title="Go to previous slide"] {
  width: 350px;
  height: 100vh;
  opacity: 0;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  z-index: 9999999999999;
  touch-action: manipulation;

}

[title="Go to previous slide"] {
  left: 0;
}

[title="Go to next slide"] {
  right: 0;
}

#slide-content {
  background-color: #282a3a !important;
}

#flowchart-A-0 > g > foreignObject > div > span {
  font-family: 'Virgil' !important;
}

.slidev-layout {
  padding-top: 3.5rem;
  padding-bottom: 1.5rem;
}

.layout2 {
  grid-template-columns: 1fr !important;
}

.layout2 .main, .layout2 .next {
  display: none;
}

.two-columns .col-left {
  padding-right: 30px;
}

.two-columns .col-right {
  padding-top: 55px;
}